@inject NavigationManager navigationManager
@inject LibroService LibroService
@inject TipoLibroService tipoLibroService
<h2>@titulo</h2>
<EditForm Model="@oLibroFromCLS" OnValidSubmit="@guardar">
    <DataAnnotationsValidator />
    <div class="mt-3">
        <label>Id Libro</label>
        <InputNumber readonly class="form-control" @bind-Value="oLibroFromCLS.idLibro" />
        <ValidationMessage For="(() => oLibroFromCLS.idLibro)" />
    </div>
    <div class="mt-3">
        <label>Titulo</label>
        <InputText class="form-control" @bind-Value="oLibroFromCLS.titulo" />
        <ValidationMessage For="(() => oLibroFromCLS.titulo)" />
    </div>
    <div class="mt-3">
        <label>Seleccione Tipo De Libro</label>
        <InputSelect class="form-control" @bind-Value="oLibroFromCLS.IdTipoLibro">
            <option value="">-- Seleccione --</option>
            @foreach (var item in listatipo)
            {
                <option value="@item.IdTipoLibro">@item.NombreTipoLibro</option>
            }
        </InputSelect>
        <ValidationMessage For="(() => oLibroFromCLS.IdTipoLibro)"/>
    </div>
    <div class="mt-3">
        <label>Resumen</label>
        <InputTextArea class="form-control" @bind-Value="oLibroFromCLS.resumen" />
        <ValidationMessage For="(() => oLibroFromCLS.resumen)" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button class="btn btn-danger" @onclick="@regresar">Regresar</button>
    </div>
</EditForm>

@code {
    public LibroFormCLS oLibroFromCLS { get; set; } = new LibroFormCLS();

    [Parameter]
    public int idLibro { get; set; }

    public string titulo { get; set; } = "";

    public List<TipoLibroCLS> listatipo { get; set; } = new List<TipoLibroCLS>();

    protected override Task OnInitializedAsync()
    {
        listatipo = tipoLibroService.listarTipoLibros();

        if (idLibro == 0 ) titulo = "Agregar Libro";
        else
        {
            titulo = "Editar Libro";
            oLibroFromCLS = LibroService.RecuperarLibroPorId(idLibro);
        }
        return base.OnInitializedAsync();
    }

    private void guardar()
    {
        if(titulo == "Agregar Libro")
        {
            LibroService.guardarLibro(oLibroFromCLS);
            navigationManager.NavigateTo("libro");
        }
    }
    private void regresar()
    {
        navigationManager.NavigateTo("libro");
    }
}